<footer class="section" id="aphrodite-footer">
	<section class="section-inner container-root container-maxWidthLg">
		<div class="section-content">
			<div id="footer-form">
				<h1 class="form-header">Leave us a message</h1>
				<div class="form-group input-name">
					<input
						type="text"
						class="form-control"
						name="input-name"
						placeholder="Name"
					/>
				</div>
				<div class="form-group input-email">
					<input
						type="email"
						class="form-control"
						name="input-email"
						placeholder="Email"
					/>
				</div>
				<div class="form-group input-message">
					<textarea
						type="textarea"
						class="form-control"
						name="input-message"
						placeholder="Message"
						rows="100"
					></textarea>
				</div>
				<button>Send message</button>
			</div>
		</div>
	</section>
</footer>
