<section id="hero-aphrodite" class="display-block position-relative">
	<div class="aphrodite-hero-background"></div>
	<div
		class="
			aphrodite-hero-content-section
			display-flex
			container-root container-maxWidthLg
		"
	>
		<div class="content-inner margin-auto">
			<div class="aphrodite-hero-content">
				<h1>Aestethic surgery in Singapore</h1>
				<p>
					Lorem ipsum dolor sit amet, adipiscing elit. Orci soco nsect eturdales
					aliquet magna. Purus vitadipiscingae quisectus neque bitur ipsum amet
					congue elit justo, tortor. Eget rhoncus, felis fringilla lorem neque
					aliqusenet.
				</p>
			</div>
			<div class="list-sponsor-wrapper">
				<div class="list-sponsor">
					<img
						class="item-sponsor"
						id="forbes"
						src="../../../../public/images/aphrodite/sponsors/forbes.png"
						alt="forbes"
					/>
					<img
						class="item-sponsor"
						id="bazzar"
						src="../../../../public/images/aphrodite/sponsors/bazzar.png"
						alt="bazzar"
					/>
					<img
						class="item-sponsor"
						id="folio"
						src="../../../../public/images/aphrodite/sponsors/folio.png"
						alt="folio"
					/>
					<img
						class="item-sponsor"
						id="womens-weekly"
						src="../../../../public/images/aphrodite/sponsors/womens-weekly.png"
						alt="womens-weekly"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
