<section id="product-categories" class="section">
	<div class="section-inner container-root container-maxWidthLg">
		<div class="section-grid js-categories-list">
			<div class="grid-item" id="skin">
				<div class="grid-item-inner">
					<div class="item-title">
						<h3>Skin</h3>
					</div>
					<div class="item-content">
						Purus vitadipiscingae quisectus neque bitur ipsum amet congue elit
						justo, tortor. Eget rhoncus, felis fringilla lorem neque aliqusenet.
					</div>
				</div>
			</div>

			<div class="grid-item" id="body">
				<div class="grid-item-inner">
					<div class="item-title">
						<h3>Body</h3>
					</div>
					<div class="item-content">
						Purus vitadipiscingae quisectus neque bitur ipsum amet congue elit
						justo, tortor. Eget rhoncus, felis fringilla lorem neque aliqusenet.
					</div>
				</div>
			</div>

			<div class="grid-item" id="face">
				<div class="grid-item-inner">
					<div class="item-title">
						<h3>Face</h3>
					</div>
					<div class="item-content">
						Purus vitadipiscingae quisectus neque bitur ipsum amet congue elit
						justo, tortor. Eget rhoncus, felis fringilla lorem neque aliqusenet.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
