<section id="products-carousel" class="section">
	<div class="container-root container-maxWidthLg section-inner">
		<div class="section-content">
			<h6>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus placerat
				sit ut enim egestas tellus. Sed augue habitant tellus convallisam
				iaculis risus ornare in sed. Consectetur eget quis sed lectus. Enim vel
				accumsan, faucibus dictum massa libero. Semper amet gravida a ultricies
				vel scelerisque. Adipiscing purus risus, orci elementum. Est rhoncus
				ullamcorper orci nec sit. Gravida at ac cursus consectetur id urna,
				malesuada urna auctor. Rhoncus egestas venenatis viverra facilisis urna
				vehicula. Ut et augue elit magnis.
			</h6>
		</div>
		<div id="section-slider">
			<div class="slider-section"></div>
		</div>
	</div>
</section>
