<header id="mainheader" class="mainheader">
	

	<div class="header-desk">

		<div class="header-desk-menu">
			<div id="menu" class="menu">
				<div class="menu-items-wrap">
					<ul class="menu-items">
						<li class="menu-item"><a href="/#s-slogan" class="js-smooth-scroll">About</a></li>
						<li class="menu-item"><a href="/#s-publications" class="js-smooth-scroll">Publications</a></li>
						<li class="menu-item"><a href="/#s-events" class="js-smooth-scroll">Events</a></li>
						<li class="menu-item"><a href="/#s-digital" class="js-smooth-scroll">Digital</a></li>
					</ul>
					<button id="menu-more" class="menu-more"><span></span><span></span><span></span></button>
				</div>
				<div id="menu-hidden" class="menu-items-wrap">
					<ul class="menu-items">
						<li class="menu-item menu-item-hidden"><a href="/#s-mobile" class="js-smooth-scroll">On mobile</a></li>
						<li class="menu-item menu-item-hidden"><a href="/#s-partners" class="js-smooth-scroll">Partners</a></li>
						<li class="menu-item menu-item-hidden"><a href="/#s-accolades" class="js-smooth-scroll">Accolades</a></li>
						<li class="menu-item menu-item-hidden"><a href="/#s-brands" class="js-smooth-scroll">Brands</a></li>
						<li class="menu-item menu-item-hidden"><a href="/#s-contact" class="js-smooth-scroll">Contact us</a></li>
						<li class="menu-item menu-item-hidden"><a href="personal-data-protection.html">Data Protection</a></li>
						<li class="menu-item menu-item-hidden"><a href="https://heartmediacares.heart-media.com">#HeartMediaCares</a></li>
					</ul>
				</div>
				<button id="menu-collapse" class="menu-collapse">Back</button>
			</div>
		</div>

		<div class="header-desk-logo">
			<div class="logo">
				<a href="index.html" class="logo-inner">
					<img src="../../../public/images/logo.svg" alt="">
				</a>
			</div>
		</div>

		<div class="header-desk-contact">

			<div class="header-desk-social">
				<ul class="social-icons social-icons-small">
					<li class="social-icon">
						<a target="_blank" href="//www.instagram.com/heartmediagroup/">
							<img src="../../../public/images/social-ig-white.svg" alt="Instagram">
						</a>
					</li>
					<li class="social-icon">
						<a target="_blank" href="//www.linkedin.com/company/heart-media-pte-ltd/">
							<img src="../../../public/images/social-li-white.svg" alt="LinkedIn">
						</a>
					</li>
					<li class="social-icon">
						<a target="_blank" href="//www.facebook.com/heartmediagroup">
							<img src="../../../public/images/social-fb-white.svg" alt="Facebook">
						</a>
					</li>
				</ul>
			</div>

			<div class="header-desk-cta">
				<button class="cta-btn js-show-contact">
					<span>Get in touch</span>
				</button>
			</div>

		</div>

	</div>


	<div class="header-mob">
		
		<div class="header-mob-row">
			<div class="header-mob-col header-mob-hamburger">
				<button id="menu-mob-btn" class="menu-mob-btn">Menu</button>
			</div>
			<div class="header-mob-col header-mob-logo">
				<div class="logo logo-sm">
					<a href="index.html" class="logo-inner">
						<img src="../../../public/images/logo.svg" alt="">
					</a>
				</div>
			</div>
			<div class="header-mob-col header-mob-cta">
				<button class="contact-btn js-show-contact">Get in touch</button>
			</div>
		</div>

		<div id="mobile-nav" class="mobile-nav">
			<div class="mobile-nav-inner">
				
				<div id="menu-mob" class="menu-mob">
					<div class="menu-mob-items-wrap">
						<button id="menu-mob-close-btn" class="menu-mob-close-btn">Back</button>
						<ul id="menu-mob-items" class="menu-mob-items">
							<li class="menu-mob-item"><a href="/#s-slogan" class="js-smooth-scroll">About</a></li>
							<li class="menu-mob-item"><a href="/#s-publications" class="js-smooth-scroll">Publications</a></li>
							<li class="menu-mob-item"><a href="/#s-events" class="js-smooth-scroll">Events</a></li>
							<li class="menu-mob-item"><a href="/#s-digital" class="js-smooth-scroll">Digital</a></li>
							<li class="menu-mob-item"><a href="/#s-mobile" class="js-smooth-scroll">On mobile</a></li>
							<li class="menu-mob-item"><a href="/#s-partners" class="js-smooth-scroll">Partners</a></li>
							<li class="menu-mob-item"><a href="/#s-accolades" class="js-smooth-scroll">Accolades</a></li>
							<li class="menu-mob-item"><a href="/#s-brands" class="js-smooth-scroll">Brands</a></li>
							<li class="menu-mob-item"><a href="/#s-contact" class="js-smooth-scroll">Contact us</a></li>
						</ul>
						<ul id="menu-mob-items-2" class="menu-mob-items-secondary">
							<li class="menu-mob-item"><a href="personal-data-protection.html">Personal Data Protection Act</a></li>
							<li class="menu-mob-item"><a href="https://heartmediacares.heart-media.com">#HeartMediaCares</a></li>
						</ul>
					</div>
				</div>
				
				<div class="mobile-nav-social">
					<ul class="social-icons social-icons-small social-icons-right">
						<li class="social-icon">
							<a target="_blank" href="//www.instagram.com/heartmediagroup/">
								<img src="../../../public/images/social-ig-white.svg" alt="Instagram">
							</a>
						</li>
						<li class="social-icon">
							<a target="_blank" href="//www.linkedin.com/company/heart-media-pte-ltd/">
								<img src="../../../public/images/social-li-white.svg" alt="LinkedIn">
							</a>
						</li>
						<li class="social-icon">
							<a target="_blank" href="//www.facebook.com/heartmediagroup">
								<img src="../../../public/images/social-fb-white.svg" alt="Facebook">
							</a>
						</li>
					</ul>
				</div>
				
			</div>
		</div>

	</div>


</header>
