// COLORS
$accent-main: #935568;
$accent-background: #e5e5e5;
$accent-background-light-brown: rgba(107, 54, 70, 0.1);
$accent-background-gray: #9795a0;
$accent-background-gradient: linear-gradient(
	180deg,
	rgba(107, 54, 70, 0.8) 0%,
	rgba(107, 54, 70, 0.15) 100%
);
$accent-text-color: #613b46;
// SPACING
$space: 135.4px;
$padding: 24px;

// 	MEDIA QUERIES BREAKPOINTS
$breakpoints: (
	phone: 320px,
	tablet: 768px,
	desktop: 1024px,
);
