<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Heart Media — 17 years of passion, emotion and style</title>

	<meta name="description" content="Heart Media is committed to publishing market leading magazines and digital media that connect with the region’s affluent and brand-conscious consumers through their chosen lifestyle activities.">

	<link rel="icon" href="public/favicon/favicon.ico" type="image/x-icon" />
	<link rel="icon" type="image/png" sizes="32x32" href="public/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="public/favicon/favicon-16x16.png">
	<link rel="mask-icon" href="public/favicon/safari-pinned-tab.svg" color="#5bbad5">

	<noscript>
		<style>
			.splash {
				display: none;
			}	
		</style>
	</noscript>

</head>

<body>
<div id="page">


	<%= require('html-loader!./html/components/_splash.html') %>


	<%= require('html-loader!./html/components/_header.html') %>



	<article class="pdpa">

		<header class="page-header">
			<div class="container">
				<h1 class="page-title">Personal Data Protection Act</h1>
			</div>
		</header>

		<section class="pdpa-content">
			<div class="container container-narrow">
				<div class="pdpa-text">
		
					<p>Your privacy is important to us and Heart Media is highly committed in respecting and managing your Personal Data collected in line with this Policy. The purpose of this Privacy Policy is to inform you of how Heart Media Pte Ltd manages personal data in accordance with the Personal Data Protection Act 2012 <span class="fade">(“the Act”)</span>.</p>
					<p>This Personal Data Privacy Policy sets out the collection, use and disclosure of your Personal Data. “Personal Data” means any data or information, whether true or not, about an individual who can be identified either (a) from that data; or (b) from that data and other information to which Heart Media is likely to have access to. Personal Data excludes Business Contact Information which means an individual’s name, position name or title, business telephone number, business address, business electronic mail address or business fax number and any other similar information about the individual, not provided by the individual solely for his personal purposes.</p>
					<p>By interacting with us, submitting information to us or signing up for any promotions or services offered by us, you agree and consent to Heart Media Private Limited, its related corporations and affiliates, (collectively referred to herein as "us", "we" or "our"), as well as our respective representatives collecting, using, disclosing and sharing amongst themselves your Personal Data, and disclosing such Personal Data to Heart Media’s authorised service providers and relevant third parties in the manner set forth in this Privacy Policy.</p>
					<p>This Privacy Policy supplements but does not supersede nor replace any other consent you may have previously provided to Heart Media nor does it affect any rights which Heart Mediamay have at law in connection with the collection, use or disclosure of your Personal Data. Heart Media may from time to time update this Privacy Policy to ensure that this Privacy Policy is consistent with our future developments, industry trends and/or any changes in legal or regulatory requirements. Subject to your rights at law, you agree to be bound by theprevailing terms of the Privacy Policy as updated from time to time on our websites. Please check regularly for updated information on the handling of your Personal Data.</p>
		
					<table class="table">
						<tbody>
							<tr id="pdpa-1">
								<td class="table-numeration">
									<a href="#pdpa-1">1</a>
								</td>
								<td>Your Personal Data</td>
							</tr>
							<tr id="pdpa-1-1">
								<td class="table-numeration"><a href="#pdpa-1-1">1.1</a></td>
								<td>
									<p>In this Privacy Policy, “Personal Data” refers to any data or information about you from which you can be identified either (a) from that data; or (b) from that data and other information to which we have or are likely to have access. Examples of such Personal Data which you may provide to us include (depending on the nature of your interaction with us:</p>
									<ol type="a" class="list-pretty">
										<li><div class="li-c">your name, NRIC, passport or other identification number, telephone number(s), mailing address, email address and any other information relating to you which you have provided usin any forms you may have submitted to us, or in other forms of interaction with you;</div></li>
										<li><div class="li-c">information about your use of Heart Media’s website and services, including cookies, IP address, subscription account details and membership details, but only to the extent that Heart Media may identify you from such information;</div></li>
										<li><div class="li-c">your employment history, education background, and income levels;</div></li>
										<li><div class="li-c">your payment related information, such as your bank account or credit card information, and your credit history; and</div></li>
										<li><div class="li-c">information about your usage of and interaction with our website and/or services including computer and connection information, device capability, bandwidth, statistics on page views,and traffic to and from our website.</div></li>
									</ol>
								</td>
							</tr>
							<tr id="pdpa-2">
								<td class="table-numeration"><a href="#pdpa-2">2</a></td>
								<td><b>Collection of Personal Data</b></td>
							</tr>
							<tr id="pdpa-2-1">
								<td class="table-numeration"><a href="#pdpa-2-1">2.1</a></td>
								<td>
									<p>Generally,Heart Media collects your Personal Data in the following ways:</p>
									<ol type="a" class="list-pretty">
										<li><div class="li-c">when you submit forms relating to any of our products or services;</div></li>
										<li><div class="li-c">when you register for or use any of our services on websites owned or operated by us or when you register as a member of websites owned and/or operated by us, or use services onsuch websites;</div></li>
										<li><div class="li-c">when you interact with our customer service officers;</div></li>
										<li><div class="li-c">when you use some of our services, e.g. our subscription service;</div></li>
										<li><div class="li-c">when you establish any online accounts with us;</div></li>
										<li><div class="li-c">when you request that we contact you;</div></li>
										<li><div class="li-c">when you are contacted by, and respond to, our marketing representatives and agents;</div></li>
										<li><div class="li-c">when you respond to our request for additional Personal Data</div></li>
										<li><div class="li-c">when you ask to be included in an email or other mailing list;</div></li>
										<li><div class="li-c">when you respond to our promotions and other initiatives;</div></li>
										<li><div class="li-c">when you submit a job application or a scholarship application;</div></li>
										<li><div class="li-c">when you enter into tenancy agreements with us;</div></li>
										<li><div class="li-c">when we receive references from business partners and third parties, for example, where you have been referred by them;</div></li>
										<li><div class="li-c">when you submit your Personal Data to us for any other reason.</div></li>
									</ol>
								</td>
							</tr>
							<tr id="pdpa-2-2">
								<td class="table-numeration"><a href="#pdpa-2-2">2.2</a></td>
								<td>When you browse our website, you generally do so anonymously but please see the section below on cookies.</td>
							</tr>
							<tr id="pdpa-2-3">
								<td class="table-numeration"><a href="#pdpa-2-3">2.3</a></td>
								<td>If you provide us with any Personal Data relating to a third party (e.g. information of spouse, children, parents, employees and/or authorised representatives), by submitting such information to us, you represent to us that you have obtained the consent of the third party to you providing us with their Personal Data for the respective purposes.</td>
							</tr>
							<tr id="pdpa-2-4">
								<td class="table-numeration"><a href="#pdpa-2-4">2.4</a></td>
								<td>You should ensure that all Personal Data submitted to us is complete, accurate, true and correct. Failure on your part to do so may result in our inability to provide you with products and services you have requested.</td>
							</tr>
							<tr id="pdpa-3">
								<td class="table-numeration"><a href="#pdpa-3">3</a></td>
								<td><b>Purposes for the Collection, Use and Disclosure of Your Personal Data</b></td>
							</tr>
							<tr id="pdpa-3-1">
								<td class="table-numeration"><a href="#pdpa-3-1">3.1</a> </td>
								<td>
									<p>Generally, Heart Media collects, uses and discloses your Personal Data for the following purposes:</p>
									<ol type="a" class="list-pretty">
										<li><div class="li-c">responding to your queries and requests and responding to complaints;</div></li>
										<li><div class="li-c">managing the infrastructure and business operations of  Heart Media and complying with internal policies and procedures;</div></li>
										<li><div class="li-c">facilitating business asset transactions (which may extend to any merger, acquisition or asset sale;</div></li>
										<li><div class="li-c">matching any Personal Data held which relates to you for any of the purposes listed herein;(e)verifying your identity;</div></li>
										<li><div class="li-c">preventing, detecting and investigating crime, including fraud and money-laundering, and analyzing and managing other commercial risks;</div></li>
										<li><div class="li-c">protecting and enforcing our contractual and legal rights and obligations;</div></li>
										<li><div class="li-c">conducting audits, reviews and analysis of our internal processes, action planning and managing commercial risks;</div></li>
										<li><div class="li-c">preventing, detecting and investigating crime and managing the safety and security of our premises and services (including but not limited to carrying out CCTV surveillance and conducting security clearances</div></li>
										<li><div class="li-c">compliance with any applicable rules, laws and regulations, codes of practice or guidelines orto assist in law enforcement and investigations by relevant authorities; and/or</div></li>
										<li><div class="li-c">any other purpose relating to any of the above.</div></li>
									</ol>
								</td>
							</tr>
							<tr id="pdpa-3-2">
								<td class="table-numeration"><a href="#pdpa-3-2">3.2</a> </td>
								<td>
									<p>In addition, Heart Media may collect, use and disclose your Personal Data for the following purposes, depending on the nature of our relationship with you:</p>

									<ol type="a" class="list-pretty">
										<li>
											<div class="li-c">
												<p>If you have a subscription or membership account with us:</p>
											</div>
											<ol type="I" class="list-pretty">
												<li>
													<div class="li-c">to process your application for Online Subscription Services and/or Print Subscription Services;</div>
												</li>
												<li>
													<div class="li-c">to maintain your account with us;</div>
												</li>
												<li>
													<div class="li-c">to verify and process your personal particulars and payments in relation to provision of Online Subscription Service and/or Print Subscription Services to you;</div>
												</li>
												<li><div class="li-c">to provide you with the goods and services which you have signed up for, including the provision and delivery of newspapers and magazines requested;</div></li>
												<li>
													<div class="li-c">communicating with you to inform you of changes and development to  Heart Media  policies, terms and conditions and other administrative information, including for the purposes of servicing you in relation to products and services offered to you;</div>
												</li>
												<li>
													<div class="li-c">resolving complaints and handling requests and enquiries;</div>
												</li>
												<li><div class="li-c">conducting market research for statistical, profiling and statistical analysis for the improvement of services provided to you; and</div></li>
												<li><div class="li-c">the processing of your Personal Data in relation to any of the purposes stated above.</div></li>
											</ol>
										</li>
										<li>
											<div class="li-c">
												<p>If you use our Job Search Services as a job applicant:</p>
											</div>										
											<ol type="I" class="list-pretty">
												<li>
													<div class="li-c">to verify and process your personal particulars in relation to your account with us;</div>
												</li>
												<li><div class="li-c">maintaining your account with us;</div></li>
												<li><div class="li-c">sending you updates and alerts related to job applications which you may have requested for;</div></li>
												<li><div class="li-c">communicating with you to inform you of changes and development to Heart Media administrative information, including for the purposes of servicing you in relation to products and services offered to you;</div></li>
												<li><div class="li-c">resolving complaints and handling requests and enquiries;</div></li>
												<li><div class="li-c">conducting market research for statistical, profiling and statistical analysis for the improvement of services provided to you; and</div></li>
												<li><div class="li-c">the processing of your Personal Data in relation to any of the purposes stated above.</div></li>
											</ol>
										</li>
										<li>
											<div class="li-c"><p>(c)If you submit advertisements to us through any of our other online advertising portals:</p></div>
											<ol type="I" class="list-pretty">
												<li><div class="li-c">to verify and process your personal particulars and payments made for the posting of the advertisements;</div></li>
												<li><div class="li-c">communicating with you to inform you of changes and development to  Heart Media  policies, terms and conditions and other administrative information, including for the purposes of servicing you in relation to products and services offered to you;</div></li>
												<li><div class="li-c">resolving complaints and handling requests and enquiries;</div></li>
												<li><div class="li-c">conducting market research for statistical, profiling and statistical analysis for the improvement of services provided to you; and</div></li>
											</ol>
										</li>
										<li>
											<div class="li-c"><p>If you are a prospective tenant or a tenant:</p></div>
											<ol type="I" class="list-pretty">
												<li><div class="li-c">conducting appropriate due diligence checks to ensure suitability of tenant;</div></li>
												<li><div class="li-c">preparation of documentation, including letters of offer, other relevant leasing documentation and applications for any relevant licences which may be required; and</div></li>
												<li><div class="li-c">any other purpose directly relating to any of the above.</div></li>
											</ol>
										</li>
										<li>
											<div class="li-c"><p>If you submit an application to us as a candidate for employment or an internship:</p></div>
											<ol type="I" class="list-pretty">
												<li><div class="li-c">processing your application including pre-recruitment checks;</div></li>
												<li><div class="li-c">providing or obtaining employee references or other references where relevant for background screening/vetting;</div></li>
												<li><div class="li-c">collecting information about your suitability for the position applied for;</div></li>
												<li><div class="li-c">organising training and staff development programs;</div></li>
												<li><div class="li-c">assessing your performance;</div></li>
												<li><div class="li-c">administrating benefits and payroll processing;</div></li>
												<li><div class="li-c">providing you with tools to facilitate or as required for you to do your job;</div></li>
												<li><div class="li-c">communicating with you as required by  Heart Media to comply with its policies and processes, including for business continuity purposes; and</div></li>
												<li><div class="li-c">any other purposes relating to the aforesaid.</div></li>
											</ol>
										</li>
									</ol>

								</td>
							</tr>
							<tr id="pdpa-3-3">
								<td class="table-numeration"><a href="#pdpa-3-3">3.3</a> </td>
								<td>
									<p>In addition, where permitted under the Act,  Heart Media  may also collect, use and disclose your Personal Data for the following purposes (which we may describe in our documents and agreements as "Additional Purposes" for the handling of Personal Data):</p>
									<ol type="a" class="list-pretty">
										<li><div class="li-c">providing services, products and benefits to you, including promotions, loyalty and reward programs;</div></li>
										<li><div class="li-c">matching Personal Data with other data collected for other purposes and from other sources (including third parties) in connection with the provision or offering of products and services, whether by  Heart Media  or other third parties;</div></li>
										<li><div class="li-c">administering contests, competitions and conducting lucky draws, including, where necessary, in order to announce the results of these contests, competitions and lucky draws and identify and contact the winners, and in order to publicise and conduct marketing strictly related to these contests, competitions and lucky draws;</div></li>
										<li><div class="li-c">sending you details of products, services, special offers and rewards, either to our customers generally, or of particular products and services which may be of interest to you; and</div></li>
										<li><div class="li-c">conducting market research, understanding and determining customer location, preferences and demographics for us to review, develop and improve our products, services and also develop special offers and marketing programs.</div></li>
									</ol>
								</td>
							</tr>
							<tr id="pdpa-3-4">
								<td class="table-numeration"><a href="#pdpa-3-4">3.4</a> </td>
								<td>If you have provided your Singapore telephone number(s) and have indicated that you consent to receiving marketing or promotional information via your Singapore telephone number(s), then from time to time, Heart Media may contact you using such Singapore telephone number(s) (including via voice calls, SMS, fax or other means) with information about our products and services (including discounts and special offers).</td>
							</tr>
							<tr id="pdpa-3-5">
								<td class="table-numeration"><a href="#pdpa-3-5">3.5</a> </td>
								<td>In relation to particular products or services or in your interactions with us, we may also have specifically notified you of other purposes for which we collect, use or disclose your Personal Data. If so, then we will collect, use and disclose your Personal Data for these additional purposes as well, unless we have specifically notified you otherwise.</td>
							</tr>
							<tr id="pdpa-3-6">
								<td class="table-numeration"><a href="#pdpa-3-6">3.6</a> </td>
								<td>You also consent to the collection, use and disclosure of your Personal Data by  Heart Media  in connection with any transaction relating to the acquisition, divestment, securisation, amalgamation, listing or other transaction relating to any interest in  Heart Media, the shares or assets of  Heart Media, and any other corporate transaction involving  Heart Media, including any evaluation or due diligence relating thereto, as well as to the collection, use and disclosure of such information by the counterpart(ies) thereto for the same purposes, and the provision of goods and services by such counterpart(ies) following such transaction, as may be relevant.</td>
							</tr>
							<tr id="pdpa-4">
								<td class="table-numeration"><a href="#pdpa-4">4</a> </td>
								<td><b>Disclosure of Personal Data</b></td>
							</tr>
							<tr id="pdpa-4-1">
								<td class="table-numeration"><a href="#pdpa-4-1">4.1</a> </td>
								<td>
									<p>Heart Media will take reasonable steps to protect your Personal Data against unauthorised disclosure. Subject to the provisions of any applicable law, this Personal Data may be disclosed, for the purposes listed above (where applicable), to the following third parties, whether they are located overseas or in Singapore:</p>
									<ol type="a" class="list-pretty">
										<li>
											<div class="li-c">Heart Media  affiliates;</div>
										</li>
										<li>
											<div class="li-c">agents, contractors or third party service providers who provide operational services to  Heart Media, such as telecommunications, information technology, payment, payroll, processing, training, market research, newspaper vendor services, newspaper delivery services, storage, archival or other services to Heart Media;</div>
										</li>
										<li>
											<div class="li-c">vendors or any third party business partners who offer goods and services or sponsor contests or other promotional programs on Heart Media’s sites, whether in conjunction with us or not;</div>
										</li>
										<li>
											<div class="li-c">external business and charity partners in relation to corporate promotional events;</div>
										</li>
										<li>
											<div class="li-c">the Credit Bureau, or in the event of default or disputes, any debt collection agencies or dispute resolution centres;</div>
										</li>
										<li>
											<div class="li-c">any business partner, investor, assignee or transferee (actual or prospective) to facilitate business asset transactions (which may extend to any merger, acquisition or asset sale;</div>
										</li>
										<li>
											<div class="li-c">anyone to whom we transfer or may transfer our rights and duties;</div>
										</li>
										<li>
											<div class="li-c">banks, credit card companies and their respective service providers;</div>
										</li>
										<li>
											<div class="li-c">our professional advisors such as our auditors and lawyers;</div>
										</li>
										<li>
											<div class="li-c">relevant government regulators or authority or law enforcement agency to comply with any laws or rules and regulations imposed by any governmental authority; and</div>
										</li>
										<li>
											<div class="li-c">any other party to whom you authorise us to disclose your personal data</div>
										</li>
									</ol>
								</td>
							</tr>
							<tr id="pdpa-5">
								<td class="table-numeration"><a href="#pdpa-5">5</a></td>
								<td><b>Use of cookies</b></td>
							</tr>
							<tr id="pdpa-5-1">
								<td class="table-numeration"><a href="#pdpa-5-1">5.1</a> </td>
								<td>When you interact with us on our websites, we may collect or analyse anonymised information from which individuals cannot be identified (“Aggregate Information”), such as number of users and their frequency of use, the number of page views (or page impressions) that occur on the website and common entry and exit points into website.</td>
							</tr>
							<tr id="pdpa-5-2">
								<td class="table-numeration"><a href="#pdpa-5-2">5.2</a> </td>
								<td>Heart Media uses "cookies", where a small data file is sent to your browser to store and track Aggregate Information about you when you enter our websites. The cookie is used to track information such as the number of users and their frequency of use, profiles of users and their preferred sites.</td>
							</tr>
							<tr id="pdpa-5-3">
								<td class="table-numeration"><a href="#pdpa-5-3">5.3</a> </td>
								<td>
									<p>Heart Media may use an independent company (the “Third Party Market Research Company”) to measure and analyse the Internet usage across  Heart Media web sites. Heart Media uses the Third Party Market Research Company’s services to collect the following core information on the usage of our web sites, including:</p>
									<ol type="a" class="list-pretty">
										<li>
											<div class="li-c">The number of page views (or page impressions) that occur on  Heart Media web sites;</div>
										</li>
										<li>
											<div class="li-c">The number of unique visitors to  Heart Media web sites;</div>
										</li>
										<li>
											<div class="li-c">How long these unique visitors (on average) spend on  Heart Media web sites when they do visit; and</div>
										</li>
										<li>
											<div class="li-c">Common entry and exit points into Heart Media web sites.</div>
										</li>
									</ol>
								</td>
							</tr>
							<tr id="pdpa-5-4">
								<td class="table-numeration"><a href="#pdpa-5-4">5.4</a> </td>
								<td>This information is aggregated by the Third Party Market Research Company and provided to Heart Media to assist in analysing the usage of  Heart Media  web sites. Such data is also accessible by media organizations and research companies, for the purpose of conducting industry comparisons with other Internet portals.</td>
							</tr>
							<tr id="pdpa-5-5">
								<td class="table-numeration"><a href="#pdpa-5-5">5.5</a> </td>
								<td>Pages on  Heart Media  web sites may be coded with software which enables the Third Party Market Research Company to track visitors to our web sites.</td>
							</tr>
							<tr id="pdpa-5-6">
								<td class="table-numeration"><a href="#pdpa-5-6">5.6</a> </td>
								<td>For more information about the cookies we use, please see our Cookie Policy.  Should you wish to disable the cookies associated with these technologies, you may do so by changing the setting on your browser. However, you may not be able to enter certain part(s) of our website.</td>
							</tr>
							<tr id="pdpa-6">
								<td class="table-numeration"><a href="#pdpa-6">6</a> </td>
								<td><b>Third-Party Sites</b></td>
							</tr>
							<tr id="pdpa-6-1">
								<td class="table-numeration"><a href="#pdpa-6-1">6.1</a> </td>
								<td>Our website may contain links to other websites operated by third parties, such as our business partners. We are not responsible for the privacy practices of websites operated by third parties that are linked to our website. We encourage you to learn about the privacy policies of such third party websites. Some of these third party websites may be co-branded with our logo or trademark, even though they are not operated or maintained by us. Once you have left our website, you should check the applicable terms, conditions and policies of the third party website to determine how they will handle any information they collect from you.</td>
							</tr>
							<tr id="pdpa-7">
								<td class="table-numeration"><a href="#pdpa-7">7</a> </td>
								<td><b>Withdrawal, Access and Correction of your Personal Data</b></td>
							</tr>
							<tr id="pdpa-7.1">
								<td class="table-numeration"><a href="#pdpa-7.1">7.1</a> </td>
								<td>Should you wish to withdraw consent to use of your Personal Data or obtain access to or make corrections to your Personal Data records, please log in to the relevant account through which the Personal Data was provided, if any, failing which please contact the relevant Personal Data Protection Officer, contact details of which are found in the Personal Data Protection Statement or similar document elsewhere on the relevant Heart Media website.</td>
							</tr>
							<tr id="pdpa-7.2">
								<td class="table-numeration"><a href="#pdpa-7.2">7.2</a> </td>
								<td>Please note that if your Personal Data has been provided to us by a third party, you should contact such party directly to make any queries, feedback, and access and correction requests to  Heart Media on your behalf.</td>
							</tr>
							<tr id="pdpa-7.3">
								<td class="table-numeration"><a href="#pdpa-7.3">7.3</a> </td>
								<td>Please note that if you withdraw your consent to any or all use of your Personal Data, depending on the nature of your request,  Heart Media may not be in a position to continue to provide its products or services to you or administer any contractual relationship in place, and this may also result in the termination of any agreements with  Heart Media and your being in breach of your contractual obligations or undertakings, and  Heart Media’s legal rights and remedies in such event are expressly reserved.</td>
							</tr>
							<tr id="pdpa-8">
								<td class="table-numeration"><a href="#pdpa-8">8</a> </td>
								<td>
									<p><b>Access and Correction of Personal Data</b></p>
									<p>Please contact us via info@heart-media.com should you wish to have access to or seek to update, correct or withdraw the consent to collect and use your Personal Data. Your email should identify yourself and state which Personal Data and information about its use and/or disclosure is requested.</p>
								</td>
							</tr>
							<tr id="pdpa-9">
								<td class="table-numeration"><a href="#pdpa-9">9</a> </td>
								<td>
									<p><b>Further Information</b></p>
									<p>If you are concerned about the handling of your Personal Data, or if you have any complaints or queries related to your Personal Data or our Privacy Policy, please contact Heart Media’s Data Protection Officer (“DPO”) at <a href="mailto:info@heart-media.com">info@heart-media.com</a>.</p>
									<p>Heart Media reserves the right to change this Policy with or without notice from time to time.</p>
								</td>
							</tr>
							<tr id="pdpa-10">
								<td class="table-numeration"><a href="#pdpa-10">10</a> </td>
								<td><b>Governing Law</b></td>
							</tr>
							<tr id="pdpa-10-1">
								<td class="table-numeration"><a href="#pdpa-10-1">10.1</a> </td>
								<td>This Privacy Policy shall be governed in all respects by the laws of Singapore.</td>
							</tr>
						</tbody>
					</table>
		
		
				</div>
			</div>
		</section>

		<footer class="pdpa-footer">
			<div class="container container-narrow">
				<div class="pdpa-upd">(Last updated 1 April 2020)</div>
			</div>
		</footer>

	</article>



	<%= require('html-loader!./html/components/_footer.html') %>



	<%= require('html-loader!./html/components/_contact-modal.html') %>



</div>
</body>
</html>